.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.input-gap {
	gap: 16px;
	width: 100%;
	justify-content: space-between;
	align-items: stretch;
	padding: 0 0.75em;
}

.input-gap input {
	width: 100%;
}

.list-input {
	gap: 4px;
	width: 100%;
}

.setting-list-item {
	gap: 12px;
}

.inputlist-container {
	width: 100%;
	margin-inline-end: unset !important;
}
